.socials {
    @extend %list;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px;


&__link {
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    color: var(--icon-color);

    transition: background-color var(--duration) var(--timing-function),
        color var(--duration) var(--timing-function);

    background-color: var(--primary-background-color);
}

&__link:hover,
&__link:focus {
    background-color: var(--accent-color);
    color: var(--primary-background-color);
}

&__icon {
    align-items: center;
    fill: currentColor;
}
}