.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--tertiary-background-color);


&__container {

    @media screen and (max-width: 1199px) {
            text-align: center;
        }
    
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    
        @media screen and (min-width: 1200px) {
            // display: flex;
            // align-items: baseline;
            flex-wrap: nowrap;
            
        }
        
    }

    &__logo {
        margin-bottom: 20px;
       
    }

&__studio {
    color: var(--tertiary-color-text);
}

&__nav {
    @extend %link;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-background-color);

    transition: color var(--duration) var(--timing-function);
}

&__nav:hover,
&__nav:focus {
    color: var(--accent-color);
}

&__contact {
    @extend %link;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: color var(--duration) var(--timing-function);
}

&__contact:hover,
.footer__contact:focus {
    color: var(--accent-color);
}

&__link:not(:last-child) {
    margin-bottom: 8px;
    
    @media screen and (min-width: 1200px) {
            margin-bottom: 9px;
        }
}
&__link{
    @extend %list;
}

&__list{
    padding: 0px;
    margin: 0px;
}

&__contact{
    margin-bottom: 60px;
    min-width: 231px;

    @media screen and (min-width: 1200px) {
            margin-right: 70px;
        }
    
}
}